
<div class="container">
<!-- Registartion forms page -->
<form class="registration-form" (ngSubmit)="submitForm()">
  <h3>Registration Page:</h3>
  <label for="name" class="form-label">Name:</label>
  <input type="text" placeholder="Name" name="name"  [(ngModel)]="formData.name" required>

  <label for="email" class="form-label">Email:</label>
  <input type="email" placeholder="Email" name="email" [(ngModel)]="formData.email" required>

  <label for="password" class="form-label">Password:</label>
  <input type="password" placeholder="Password" name="password" [(ngModel)]="formData.password" required>

  <label for="confirmPassword" class="form-label">Confirm Password:</label>
    <input type="password"  placeholder="confirm-Password" name="confirmPassword" [(ngModel)]="formData.confirmPassword" required>
  
    <button  type="submit" class="btn btn-primary">Register</button>
    <button (click)="resetData()" id="reset-btn" type="submit" class="btn btn-primary">Reset Password</button>
</form>

</div>